@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(214, 226, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

main {
  background-color: rgb(255, 255, 255);
  border-radius: 1.13em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  box-shadow: 0px 0px 0.31em rgba(0, 0, 0, 0.191);
  padding-bottom: 0.625em;
}

img {
  border-radius: 0.7em;
  margin: 0.95em;
  width: 18.5em;
}

h1 {
  color: rgb(31, 50, 81);
  font-weight: 700;
  width: 13em;
  font-size: 1.3em;
  text-align: center;
  margin-top: 0.2em;
}

p {
  color: rgb(104, 119, 141);
  font-size: 0.92em;
  font-weight: 400;
  width: 17em;
  line-height: 1.26em;
  margin: 1em 0 1.6em 0;
  text-align: center;
}

body > footer > p > a {
  text-decoration: none;
}

a:hover {
  color: blue;
}
